#cover-image {
  background : url('images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.p1{
  font-family: "Lucida Console", "Coursier New", monospace;
}

.custom-button {
  align-items: center;
  background-color: #c2d6d6;
  color: black;
  border: 2px solid #000000;
  transition-duration: 0.2;


}
.custom-button:hover {
  background: black;
  color: white
}
