{% if user.is_authenticated %}
<nav class="navbar navbar-bottom navbar-expand-lg navbar-dark bg-dark fixed-top pt-1 pb-1 mb-3">
  <div class = "container-fluid ">
  <a class="navbar-brand" href="{% url 'request_lessons' %}">
    <div style = "position:absolute">
        <span class = "bi-music-note-beamed "></span>
        Music Management </a>
    </div>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'request_lessons'%}">Book</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'request_status'%}">Your bookings</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'invoice'%}">My invoices </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'bank_transfer'%}">Payment </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'contact'%}">Contact </a>
        </li>


      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <a>Welcome :{{user.username}}!</a>
      </ul>
  
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <a class="nav-link " href="{%url 'log_out'%}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class = "bi-person-circle"> Log Out</span>
        </a>
    </ul>
  {% endif%}
  </div>
</nav>
