
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top pt-1 pb-1 mb-3">
  <a class="navbar-brand" href="{% url 'home' %}">
    {% load static %}<img id = "nav-icon" src = "{% static "images/pngegg.png"
    %}" >rca</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        {%if user.is_anonymous%}
      
        {% else %}
            {%if user.is_superuser%}
            <p>{{user.username}}</p>
              <a href="{% url 'admin:index' %}">Admin</a>
            </form>
            {% elif user.is_staff%}
            <p>{{user.username}}</p>
              <a href="{% url 'admin:index' %}">Admin</a>
            {%else%}
            <p>{{user.username}}</p>

            {% endif %}
        {% endif %}
       
      </li>
    </ul>
    {%if user.is_anonymous%}
    {%else%}
    <form class="form-inline my-2 my-lg-0" action="{%url 'log_out'%}"method="post">
      {% csrf_token %}
      <button class="lessons btn-outline-success my-2 my-sm-0" type="submit">
        Log out
      </button>
    </form>
    {%endif%}
  </div>
</nav>
