<html>
  <link href="https://fonts.googleapis.com/css?family=Creepster|Source+Sans+Pro|Nosifer" rel="stylesheet">
  <body style ="  background: #73002c;" >
    <div class = "center " style = "font-size:40px ;top:0">
     <h1>______________</h1>
     </div>
    <div id="a"class = "center blood" style = "font-size:80px;height:250; top:50px;">
      <h1>404</h1>
    </div>
    <div class = "center">
       What you just did is invalid
     </div>
     <div id ="b"class = "center">
       <button class = "back_button" onclick="history.back() " style = "cursor: pointer;">
         Go Back To Reality
       </button>
   </div>
  </body>
</html>
