{%extends 'base-content.html'%}
{%block content%}
<div class="container vh-100">
    <h1>Admin Panel</h1>

    {% with messages=messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endwith %}
    <h2>Lesson Request</h2>
    <div class="card card-body">
        
        <table class="table table-bordered border-dark">
            <thead class="table-light">
                    <tr>
                        <th>ID</th> 
                        <th>Student</th>
                        <th>Lesson</th>
                        <th>Authorised?</th>
                        <th>Accept</th>
                        <th>Edit</th>
                    </tr>
            </thead>
            <tbody>
            
                {%for request in lesson_request%}
                    <tr>
                        <td>{{request.id}}</td> 
                        <td>{{request.student}}</td>
                        <td>{{request.lesson}}</td>
                        <td>{{request.is_authorised}}</td>
                        <td>
                            <form action="{% url 'edit_lesson' request.id %}" method="get">
                                <input type="submit" value="Edit" class="lessons btn small-button">
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'approve_lesson' request.id %}" method="post">
                                {%csrf_token%}
                                <input type="submit" value="Approve" class="lessons btn small-button">
                            </form>
                        </td>
                    
                    </tr>
                    
                {%endfor%}
            <tbody>
        </table>

</div>
    

    <h2>All On going invoices</h2>
    <div class="card card-body">
        <table class="table table-bordered border-dark">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Student ID</th>
                    <th>Student Email</th>
                    <th>Lesson</th>
                    <th>Invoice Number</th>
                    <th>Is Fulfilled?</th>
                </tr>
            </thead>
            <tbody>
                {%for i in invoices%}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.student_id}}</td>
                    <td>{{i.student}}</td>
                    <td>{{i.lesson}}</td>
                    <td>{{i.invoice}}</td>
                    <td>{{i.is_fulfilled}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

    </div>

    <h2>Bank Transfers</h2>
    <div class="card card-body">
        <table class="table table-bordered border-dark">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Invoice</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Account Number</th>
                    <th>Sort Code</th>
                    <th>Amount Paid</th>
                    <th>Payment Status</th>
                    <th>Is Approved</th>
                    <th>Approve Payment</th>
                </tr>
        </thead>
        <tbody>
            {%for bank in bank_transfer%}
            <tr>
                <td>{{bank.id}}</td>
                <td>{{bank.invoice}}</td>
                <td>{{bank.first_name}}</td>
                <td>{{bank.last_name}}</td>
                <td>{{bank.account_number}}</td>
                <td>{{bank.sort_code}}</td>
                <td>{{bank.amount}}</td>
                <td>{{bank.status}}</td>
                <td>{{bank.is_approved}}</td>
               
                
            </tr>
            {%endfor%}
        </tbody>
        </table>
    </div>

 


     


</div>

{%endblock%}