<!--This is the contact page  -->
{% extends 'base-content.html' %}
{% block content%}
<div class="contact_container w-100">
      <img src="../static/images/music-image.png" alt="music image"
      style="width:100%; opacity:0.9; -webkit-filter: blur(2px); filter: blur(2px) ; "
      height = "300";>
      <div class="center"> Contact Us </div>
  </div>
  <div class = "container text-top" style="text-align: center; padding-bottom: 10%; border-style: double">
    <h1>Contact:</h1>
      <div>  To edit/delete your booking requests you can contact one of administrators:</div>
      <div>
        <ul class="a" style= "padding-top:2%;">
          <li>Name: Petra Pickle</li>
          <li>Email: petra.pickles@example.org</li>
        </ul>
        <ul class="a"style= "padding-top:2%;" >
          <li>Name: Marty Major</li>
          <li>Email: marty.major@example.org</li>
        </ul>
        <ul class="a" style= "padding-top:2%;">
          <li>Name: Aleks Arnold Armstrong</li>
          <li>Email: aleks.arnold@example.org</li>
        </ul>
      </div>
  </div>


  {% endblock%}
