{% extends 'base.html' %}
{% block body%}

  <div class="fixed-top text-center">
    <h1> Music Lessons</h1>
    <h1> <b>____________</b></h1>
  </div>
  <div class = "container-fluid vh-100 text-center" style = "border:1px solid #cecece;">
    <div class = "row h-100">
      <div class = "col-12 my-auto">
          <p class="p1"><a href='{%url 'sign_up'%}'class = "btn btn-lg custom-button"> Sign up </a> </p>
          <p class="p1"><a href='{%url 'log_in' %}'class = "btn btn-lg custom-button"> Log in </a> </p>
      </div>
    </div>
  </div>
</div>
    {% endblock%}
