{% extends 'base-content.html' %}
{% block content%}
<div class="container">
  
  <table class="table">
    <caption>List of Booking Lesson</caption>
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Lession Name</th>
        <th scope="col">Duration</th>
        <th scope="col">Date</th>
        <th scope="col">Price</th>
        <th scope="col">Term Period</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for t in lessons %}
      <tr>
        <th>{{t.id}}</th>
        <td>{{t.lesson_name}}</td>
        <td>{{t.duration}}</td>
        <td>{{t.date}}</td>
        <td>{{t.price}}</td>
        <td>{{t.term_period}}</td>
       
        <td>
          <button type="button" >Get Invoice</button>
        </td>
      </tr>
      {% endfor%}
      
      
    </tbody>
  </table>
</div>

  {% endblock%}