{% extends 'base.html' %}
{% block body%}



      <h1>Request Lessons</h1>
      <form action="{% url 'request_lessons' %}" method="post">
        {% csrf_token %}
        {{ choice_form.as_p }}
        <input type="submit" value="Show Lessons">
      </form>

      {% if lesson_counter > 0%}
      <h2>Total Classes Available: {{ lesson_counter }}</h2>
      <table class="lesson-view">
        {% for lesson in term_lessons %}
          <table class="lesson-information">
            <tr>
              <td>Class: </td><td>{{ lesson.lesson_name }}</td>
            </tr>
            <tr>
              <td>Date: </td><td>{{ lesson.date }}</td>
            </tr>
            <tr>
              <td>Duration: </td><td>{{ lesson.duration }} minutes</td>
            </tr>
            <tr>
              <td>Cost: </td><td>£{{ lesson.price }}</td>
            </tr>
            <tr>
              <td><input type="button" value="Book"></td>
            </tr>
          </table>
        {% endfor %}
      </table>
      {% endif %}



{% endblock%}
