{% extends 'base-content.html' %}
{% block content%}
<div class="container vh-100">



      <h1>Request Lessons</h1>
      <form action="{% url 'request_lessons' %}" method="post">
        {% csrf_token %}
        {{ choice_form.as_p }}
        <input type="submit" value="Show Lessons" class = "lessons" >
      </form>

      {% if lesson_counter > 0%}
      <h2>Total Classes Available: {{ lesson_counter }}</h2>
      <table class="lesson-view" >
        {% for lesson in term_lessons %}
          <table class="lesson-information" id = "lessons">
            <tr>
              <th>Class: </th>
              <th>Date: </th>
              <th>Duration: </th>
              <th>Cost: </th>
            </tr>
            <tr>
              <td>{{ lesson.lesson_name }}</td>
              <td>{{ lesson.date }}</td>
              <td>{{ lesson.duration }} minutes</td>
              <td>£{{ lesson.price }}</td>
            </tr>
              <td><input type="button" value="Book" class = "btn-xs custom-button"></td>
            </tr>
          </table>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  



{% endblock%}
